.header {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;

    width: calc(100% - 20px);
    height: 48px;
    padding: 0 10px;
    border-radius: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 100;
    pointer-events: none;

    .logo {
        position: absolute;
        left: 48%;
        top: 10px;
        transform: translateX(-50%);
    }

    .flexItem {
        display: flex;
        pointer-events: auto;
        position: absolute;
        right: 10px;
    }

    .box {
        padding: 6px;
        border: none;
        border-radius: 4px;
        box-shadow: 0 -2px 8px 0 rgba(136, 136, 136, 0.3);

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #F88A25;

    }




}